@model SaxxBoard.ViewModels.Home.IndexViewModel


@{ var count = 0; }

@foreach (var widget in Model.CurrentWidgets.CurrentWidgets)
{
    <text>

    @if (count % 3 == 0)
    {
        <text>@Html.Raw("<div class=\"row-fluid\">")</text>
    }

    <div class="span4" data-widgetIdentifier="@widget.InternalIdentifier"></div>

    @if (count++ % 3 == 2)
    {
        <text>@Html.Raw("</div>")</text>
    }
    </text>
}


@section scripts
{
    <script type="text/javascript">
        $(function () {
            var boardHub = $.connection.boardHub;

            boardHub.client.updateBoard = function (widget) {
                var widgetDiv = $("div[data-widgetIdentifier=\"" + widget.identifier + "\"]");
                widgetDiv.saxxBoardWidget({
                    title: widget.title,
                    series: widget.series,
                    trend: widget.trend,
                    lastValue: widget.lastValue,
                    hasError: widget.hasError,
                    minTickSize: widget.minTickSizeOnChart,
                    maxValue: widget.maxValueOnChart,
                    higherIsBetter: widget.higherIsBetter,
                    lastUpdate: widget.lastUpdate,
                    nextUpdate: widget.nextUpdate,
                    refreshInterval: widget.refreshIntervalInSeconds
                });
            };

            // Start the connection
            $.connection.hub.start().done(function () {
                setInterval("updateUpdateDate();", 250);
                boardHub.server.refresh();
            });
        });

        function updateUpdateDate() {
            $.each($(".lastUpdateTicker"), function (i, span) {
                span = $(span);
                var lastUpdate = span.data("lastupdate");
                var seconds = Math.floor((new Date().getTime() - lastUpdate) / 1000);
                if (seconds == 1)
                    span.html("1 second ago.");
                if (seconds == 0)
                    span.html("Just now.");
                else
                    span.html(seconds + " seconds ago.");
            });

            $.each($(".nextUpdateTicker"), function (i, div) {
                div = $(div);
                var lastUpdate = div.data("lastupdate");
                var nextUpdate = div.data("nextupdate");

                var difference = 100 / (nextUpdate - lastUpdate) * (nextUpdate - new Date().getTime());
                if (difference < 0)
                    difference = 0;
                if (difference > 0)
                    div.css("width", difference + "%").css("background-color", "#eee");
                else 
                    div.css("width", "100%").css("background-color", "white");
            });
        }
    </script>
}


