@model SaxxBoard.ViewModels.Home.IndexViewModel


@{ var count = 0; }

@foreach (var widget in Model.CurrentWidgets.CurrentWidgets)
{
    <text>

    @if (count % 3 == 0)
    {
        <text>@Html.Raw("<div class=\"row-fluid\">")</text>
    }

    <div class="span4" data-widgetIdentifier="@widget.InternalIdentifier"></div>

    @if (count++ % 3 == 3)
    {
        <text>@Html.Raw("</div>")</text>
    }
    </text>
}


@section scripts
{
    <script type="text/javascript">
        $(function () {
            var boardHub = $.connection.boardHub;

            boardHub.client.updateBoard = function (widget) {
                var widgetDiv = $("div[data-widgetIdentifier=\"" + widget.identifier + "\"]");
                widgetDiv.saxxBoardWidget({
                    title: widget.title,
                    series: widget.series,
                    trend: widget.trend,
                    lastValue: widget.lastValue,
                    hasError: widget.hasError,
                    minTickSize: widget.minTickSizeOnChart,
                    maxValue: widget.maxValueOnChart,
                    higherIsBetter: widget.higherIsBetter
                });
            };

            // Start the connection
            $.connection.hub.start().done(function () {
                setInterval("updateUpdateDate();", 100);
                boardHub.server.refresh();
            });
        });

        function updateUpdateDate() {
            $.each($(".ticker"), function(i, span) {
                span = $(span);
                var seconds = Math.floor((new Date().getTime() - span.data("time")) / 1000);
                if (seconds == 1)
                    span.html("1 second ago.");
                if (seconds == 0)
                    span.html("Just now.");
                else
                    span.html(seconds + " seconds ago.");
            });
        }
    </script>
}


