@model SaxxBoard.ViewModels.Home.IndexViewModel


@{ var count = 0; }

@foreach (var widget in Model.CurrentWidgets.CurrentWidgets)
{
    <text>

    @if (count % 3 == 0)
    {
        <text>@Html.Raw("<div class=\"row\">")</text>
    }

    <div class="col-md-4 col-sm-12" data-widgetIdentifier="@widget.InternalIdentifier"></div>

    @if (count++ % 3 == 2)
    {
        <text>@Html.Raw("</div>")</text>
    }
    </text>
}


@section scripts
{
    <script type="text/javascript">
        $(function () {
            var boardHub = $.connection.boardHub;

            boardHub.client.updateBoard = function (widget) {
                var widgetDiv = $("div[data-widgetIdentifier=\"" + widget.identifier + "\"]");
                widgetDiv.saxxBoardWidget({
                    title: widget.title,
                    series: widget.series,
                    lastValue: widget.lastValue,
                    hasError: widget.hasError,
                    minTickSize: widget.minTickSizeOnChart,
                    maxValue: widget.maxValueOnChart,
                });
            };

            // Start the connection
            $.connection.hub.start().done(function () {
                setInterval("updateUpdateDate();", 250);
                boardHub.server.refresh();
            });
        });
    </script>
}


