<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="Widget1::ClassName" value="SaxxBoard.Widgets.RssWidget.RssWidget" />
  <add key="Widget1::InternalIdentifier" value="IssueTracker" />
  <add key="Widget1::Title" value="IssueTracker new items" />
  <add key="IssueTracker::Url" value="http://issuetracker.epunkt.net/Rss/?status=New" />

  <add key="Widget2::ClassName" value="SaxxBoard.Widgets.Pop3Widget.Pop3Widget" />
  <add key="Widget2::InternalIdentifier" value="support@epunkt.net" />
  <add key="Widget2::Title" value="support@epunkt.net e-mails" /> 
  <add key="support@epunkt.net::Host" value="pod51016.outlook.com" />
  <add key="support@epunkt.net::Port" value="995" />
  <add key="support@epunkt.net::UseSsl" value="true" />
  <add key="support@epunkt.net::Username" value="support@epunkt.net" />
  <add key="support@epunkt.net::Password" value="GiB0_PPK'EAu'&amp;yS" />

  <add key="Widget3::ClassName" value="SaxxBoard.Widgets.TrelloWidget.TrelloWidget" />
  <add key="Widget3::InternalIdentifier" value="TrelloWidget_Doing" />
  <add key="Widget3::Title" value="Trello Doing cards" />
  <add key="TrelloWidget_Doing::AppKey" value="8e02e63d1359cc9e1a1bcb33ca6988d2" />
  <add key="TrelloWidget_Doing::UserToken" value="960930f5bdc003cbe33adcebfd4d0cf235bdcb90436d39e07c2b72fc5b48bd28" />  
  <add key="TrelloWidget_Doing::Board" value="ePunkt Dev Board" />   
  <add key="TrelloWidget_Doing::Lists" value="Doing (at the moment)" />  
  
  <add key="Widget4::ClassName" value="SaxxBoard.Widgets.TrelloWidget.TrelloWidget" />
  <add key="Widget4::InternalIdentifier" value="TrelloWidget_ToDo" />
  <add key="Widget4::Title" value="Trello ToDo cards" />
  <add key="TrelloWidget_ToDo::AppKey" value="8e02e63d1359cc9e1a1bcb33ca6988d2" />
  <add key="TrelloWidget_ToDo::UserToken" value="960930f5bdc003cbe33adcebfd4d0cf235bdcb90436d39e07c2b72fc5b48bd28" />  
  <add key="TrelloWidget_ToDo::Board" value="ePunkt Dev Board" />   
  <add key="TrelloWidget_ToDo::Lists" value="Up for grabs (not assigned yet);To Do (already assigned)" />   

  <add key="Widget5::ClassName" value="SaxxBoard.Widgets.NewRelicWidget.NewRelicWidget" />
  <add key="Widget5::InternalIdentifier" value="NewRelic_Disk" />
  <add key="Widget5::Title" value="App01 Disk %" />
  <add key="NewRelic_Disk::ApiKey" value="eab362f70b24f4d764d4d87865d229749a36c17adfa4c29" />
  <add key="NewRelic_Disk::Account" value="35742" />  
  <add key="NewRelic_Disk::Agents" value="1630112" />   
  <add key="NewRelic_Disk::Metrics" value="System/Disk/All/Utilization/percent" />    
  
  <add key="Widget6::ClassName" value="SaxxBoard.Widgets.NewRelicWidget.NewRelicWidget" />
  <add key="Widget6::InternalIdentifier" value="NewRelic_Cpu" />
  <add key="Widget6::Title" value="App01 CPU %" />
  <add key="NewRelic_Cpu::ApiKey" value="eab362f70b24f4d764d4d87865d229749a36c17adfa4c29" />
  <add key="NewRelic_Cpu::Account" value="35742" />  
  <add key="NewRelic_Cpu::Agents" value="1630112" />   
  <add key="NewRelic_Cpu::Metrics" value="System/CPU/User/percent;System/CPU/System/percent" />    
  
  <add key="Widget7::ClassName" value="SaxxBoard.Widgets.NewRelicWidget.NewRelicWidget" />
  <add key="Widget7::InternalIdentifier" value="NewRelic_Network" />
  <add key="Widget7::Title" value="App01 Network bytes" />
  <add key="NewRelic_Network::ApiKey" value="eab362f70b24f4d764d4d87865d229749a36c17adfa4c29" />
  <add key="NewRelic_Network::Account" value="35742" />  
  <add key="NewRelic_Network::Agents" value="1630112" />   
  <add key="NewRelic_Network::Metrics" value="System/Network/All/All/bytes/sec" />    
  <add key="NewRelic_Network::Field" value="per_second" />    

  <add key="Widget8::ClassName" value="SaxxBoard.Widgets.NewRelicWidget.NewRelicWidget" />
  <add key="Widget8::InternalIdentifier" value="NewRelic_Data01_Cpu" />
  <add key="Widget8::Title" value="Data01 CPU %" />
  <add key="NewRelic_Data01_Cpu::ApiKey" value="eab362f70b24f4d764d4d87865d229749a36c17adfa4c29" />
  <add key="NewRelic_Data01_Cpu::Account" value="35742" />  
  <add key="NewRelic_Data01_Cpu::Agents" value="1630167" />   
  <add key="NewRelic_Data01_Cpu::Metrics" value="System/CPU/User/percent;System/CPU/System/percent" />    
  
  <add key="Widget9::ClassName" value="SaxxBoard.Widgets.NewRelicWidget.NewRelicWidget" />
  <add key="Widget9::InternalIdentifier" value="NewRelic_Data01_Network" />
  <add key="Widget9::Title" value="Data01 Network bytes" />
  <add key="NewRelic_Data01_Network::ApiKey" value="eab362f70b24f4d764d4d87865d229749a36c17adfa4c29" />
  <add key="NewRelic_Data01_Network::Account" value="35742" />  
  <add key="NewRelic_Data01_Network::Agents" value="1630167" />   
  <add key="NewRelic_Data01_Network::Metrics" value="System/Network/All/All/bytes/sec" />    
  <add key="NewRelic_Data01_Network::Field" value="per_second" />    
 
</appSettings>