<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="Widget1::ClassName" value="SaxxBoard.Widgets.RssWidget.RssWidget" />
  <add key="Widget1::InternalIdentifier" value="Rss" />
  <add key="Widget1::Title" value="RSS new items" />
  <add key="Rss::Url" value="" />

  <add key="Widget2::ClassName" value="SaxxBoard.Widgets.Pop3Widget.Pop3Widget" />
  <add key="Widget2::InternalIdentifier" value="mail@server.com" />
  <add key="Widget2::Title" value="mail@server.com e-mails" />
  <add key="mail@server.com::Host" value="" />
  <add key="mail@server.com::Port" value="" />
  <add key="mail@server.com::UseSsl" value="" />
  <add key="mail@server.com::Username" value="" />
  <add key="mail@server.com::Password" value="" />

  <add key="Widget3::ClassName" value="SaxxBoard.Widgets.RandomWidget.RandomWidget" />
  <add key="Widget3::InternalIdentifier" value="RandomWidget" />
  <add key="Widget3::Title" value="Random numbers" />
</appSettings>