@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Refresh" content="600">	
    <title>SaxxBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    <style type="text/css">
        body { padding-top: 60px; }
        @@media (max-width: 979px) {
            body { padding-top: 0px; }
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">SaxxBoard</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="https://github.com/saxx/SaxxBoard">Fork on GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    @Scripts.Render("~/scripts/libs")
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
