@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SaxxBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">SaxxBoard</a>
                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right" id="updateDate"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    @Scripts.Render("~/scripts/libs")
    <script src="~/signalr/hubs"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
